$primary-color: #f4f2d9;
$secondary-color: #2f3031;
$tertiary-color: #9fa0a1;

$white: #FFF;
$black: #000;

$primary-font: font58033;
$secondary-font: 'Source Sans Pro', sans-serif;

$first-break: "only screen and (max-width : 945px)";
$second-break: "only screen and (max-width : 767px)";
$third-break: "only screen and (max-width : 545px)";